<input type="text" name="searchterm" id="searchterm" placeholder="Enter a search term">
<select id="cat2" name="cat2" required>
	<option value="" disabled selected hidden>Please Choose...</option>
	<option value="Document">Document</option>
	<option value="Music">Music</option>
	<option value="Video">Video</option>
	<option value="Picture">Picture</option>
</select>

<input id="submit" type="submit">