<p>File Size Limit of 20MB</p>
<form action="/upload" method="POST" enctype="multipart/form-data">

Select a file to upload:
<input type="file" name="upload" required>
Category:
<select name="cat" required>
	<option value="" disabled selected hidden>Please Choose...</option>
	<option value="Document">Document</option>
	<option value="Music">Music</option>
	<option value="Video">Video</option>
	<option value="Picture">Picture</option>
</select>
<input type="submit" value="Upload File">

</form>